/*#about-img{*/
/*    position:relative;*/
/*    margin-top:5%;*/
/*    margin-left:15%;*/
/*}*/

.introduction_1{
    position:static;
    margin-top:10%;
    margin-left:12%;
    margin-right:12%;
}
#footer{
    padding-top:10%;
}
.about_body{
    font-size:20px;
    color:#232B2B;
}
.introduction_2{
    position:static;
    margin-top:2%;
    margin-left:12%;
    margin-right:15%;
    font-size:24px;
}
#img_center{
    text-align:center;
    margin-bottom:7%;
}
.bg_color{
    background: #f1e2d7;
}
.img_set{
    margin-top:3%;
    margin-left:10%;
    width:650px;
}
.img_cap{
    font-size:18px;
    margin-bottom:3%;
    margin-left:10%;
}